{% extends "base.html" %} 
{% block content %}
<style>
  h3{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  a{
    cursor: pointer;
  }
  a:hover{
    color:rebeccapurple;
  }
  .row{
    vertical-align: center;
  }/*
  @media (min-width: 568px) {
    .container {
      font-size:14px;
      width: 750px;
    }
  }
  @media (min-width: 768px) {
    .container {
      font-size:16px;
      width: 950px;
    }
  }
  @media (min-width: 992px) {
    .container {
      font-size:18px;
      width: 1170px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      font-size:18px;
      width: 1370px;
    }
  }*/
  .btn-success{
    padding: 2.5px 10px 2.5px 10px;
  }
  h1{
    text-align: center;
    font:30px;
  }
  .search_key{
    text-align: right;
  }
  .row{
    margin-left:5%;
  }
</style>
<div class="section-container">
    <div class="container" style="margin-bottom:200px">
      <h1 class="movie_title" style="margin-top:70px;">Movie List</h1>
      <form method="POST" class="search_key">
        <input type="text" name="keywords" placeholder="Search">
        <input type="submit" value="검색" class="btn btn-success">
      </form>
      <br>
      {{movies}}
      <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-md-11">
          <img class="img-responsive reveal-content" src="{{ url_for('static', filename='images/img-10.jpg') }}" alt="" data-action="zoom" style="width:150px; display: inline; float: left; margin-right: 30px;">
          <a><h3 class="text-left">1. Avengers, EndGame</h3></a>
          <p>Lorem ipsum dolor sit amet hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
       </div>
      </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-md-11">
          <img class="img-responsive reveal-content" src="{{ url_for('static', filename='images/img-13.png') }}" alt="" data-action="zoom" style="width:150px; display: inline; float: left; margin-right: 30px;">
          <a><h3 class="text-left">2. The God Father</h3></a>
          <p>Lorem ipsum dolor sit amet hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
       </div>
      </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-md-11">
          <img class="img-responsive reveal-content" src="{{ url_for('static', filename='images/img-12.jpg') }}" alt="" data-action="zoom" style="width:150px; display: inline; float: left; margin-right: 30px;">
          <a><h3 class="text-left">3. Spider man, Far From Home</h3></a>
          <p>Lorem ipsum dolor sit amet hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
       </div>
      </div>
      {% for movie in movies %}
        <div class="row" style="margin-top:30px;">
          <div class="col-xs-12 col-md-11">
            <img class="img-responsive reveal-content" src="{{ url_for('static', filename=movie[6]) }}" alt="" data-action="zoom" style="width:150px; display: inline; float: left; margin-right: 30px;">
            <a><h3 class="text-left">3. {{movie[1]}}</h3></a>
            <p>Lorem ipsum dolor sit amet hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
         </div>
        </div>
      {% endfor %}        
    </div>
  </div>

  {% endblock %}